@model IEnumerable<EmployeeE.Models.Salgrade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Losal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hisal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Losal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hisal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Grade">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Grade">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Grade">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
